<div class="head">
  <a href="./">
    <h2>Albums</h2>
  </a>
  <button class="btn" (click)="openForm()">+ Add</button>
</div>

<div class="cont">
  <table class="table" [hidden]="this.opened">
    <tr>
      <th class="table-header">Name</th>
      <th class="table-header">Band</th>
      <th class="table-header">Genre</th>
      <th class="table-header">Label</th>
      <th class="table-header">Producers</th>
      <th class="table-header">Edit</th>
      <th class="table-header">Delete</th>
    </tr>
    <tbody [hidden]="this.hideenForm">
      <tr *ngFor="let album of albums">
        <td>{{ album.name }}</td>
        <td>{{ album.band }}</td>
        <td>{{ album.genre }}</td>
        <td>{{ album.label }}</td>
        <td>{{ album.producer }}</td>
        <td><span (click)="editAlbum(album)"><i class="material-icons btn-edit edit-btn">edit</i></span></td>
        <td><span (click)="confirmDelete()"><i class="material-icons btn-del del-btn">delete</i></span></td>
        <div class="wrapper" [hidden]="!this.confirm">
          <div class="confirmation">
            <h2 style="text-align: center;">Do You really want to DELETE this data?</h2>
            <button type="button" class="btn btn-stan" (click)="cancelConf()">Cancel</button>
            <button type="button" class="btn" (click)="deleteAlbum(album.id)">Ok</button>
          </div>
        </div>
      </tr>
    </tbody>
  </table>

  <div class="modal-form" [hidden]="!this.opened">
    <form class="form">
      <div class="modal-title">
        <h2>Add Album</h2>
      </div>
      <label> Name*
        <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="name" required>
      </label>
      <label> Band*
        <input type="text" [(ngModel)]="band" placeholder="band" name="band" class="form-control" required>
      </label>
      <label> Genre
        <input type="text" class="form-control" [(ngModel)]="genre" name="genre" placeholder="genre">
      </label>
      <label> Label
        <input type="text" class="form-control" [(ngModel)]="label" name="label" placeholder="label">
      </label>
      <label> Producers
        <input type="text" class="form-control" [(ngModel)]="producer" name="producer" placeholder="producers">
      </label>
      <button type="button" class="btn btn-stan" (click)="closeForm()">Close</button>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!name || !band">Ok</button>
    </form>
  </div>
</div>

<div [hidden]="!this.hideenForm">
  <form class="form">
    <div class="modal-title">
      <h2>Edit Album</h2>
    </div>
    <label> Name*
      <input type="text" class="form-control" [(ngModel)]="editname" name="editname" placeholder="name" required>
    </label>
    <label> Band*
      <input type="text" [(ngModel)]="editband" placeholder="band" name="editband" class="form-control" required>
    </label>
    <label> Genre
      <input type="text" class="form-control" [(ngModel)]="editgenre" name="editgenre" placeholder="genre">
    </label>
    <label> Label
      <input type="text" class="form-control" [(ngModel)]="editlabel" name="editlabel" placeholder="label">
    </label>
    <label> Producers
      <input type="text" class="form-control" [(ngModel)]="editproducer" name="editproducer" placeholder="producers">
    </label>
    <button type="button" class="btn btn-stan" (click)="closeUpdate()">Close</button>
    <p *ngFor="let album of albums">
      <button type="submit" class="btn btn-primary" (click)="saveChanges(album)"
        [disabled]="!editname || !editband">Update Changes</button>
    </p>
  </form>
</div>

<style>
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f3f3;
    padding: 20px 30px;
  }

  .wrapper {
    position: absolute;
    top: 70px;
    left: 700px;
  }

  .confirmation {
    z-index: 5;
    width: 200px;
    background: rgb(250, 246, 246);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
  }

  .form {
    margin: 10px auto;
    z-index: 5;
    width: 400px;
    background: rgb(250, 246, 246);
    border-radius: 10px;
    padding: 20px;
  }

  .btn-stan {
    background: rgb(136, 136, 135);
    margin-right: 15px;
  }

  .head h2 {
    margin: 0;
  }

  .full {
    width: 100%;
  }

  .btn-del {
    color: red
  }

  .edit-btn,
  .del-btn {
    cursor: pointer;
  }

  input {
    color: rgb(65, 52, 184);
  }

  .cont {
    padding: 5px 30px;
    position: relative;
    z-index: 1;
  }

  label {
    font-size: 16px;
    color: #000;
  }

  .table-header,
  .edit-btn,
  .head h2 {
    color: rgb(65, 52, 184);
  }

</style>
